.box-productList {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  width: 41vw;
  height: 60vh;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 6px 6px 15px 4px rgba(98, 144, 154, 1);
  -webkit-box-shadow: 6px 6px 15px 4px rgba(98, 144, 154, 1);
  -moz-box-shadow: 6px 6px 15px 4px rgba(98, 144, 154, 1);
}

#root
  > div
  > div.box-1
  > div.box-2
  > div.box-productList
  > div.grid-producList
  > div
  > a {
  width: 85%;
  overflow-wrap: break-word;
}

.box-title-productList {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-weight: bold;
  outline: #7cc6b0 0.15rem solid;
  background-color: #7cc6b0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 0.4rem #62909a solid;
  height: 15%;
}

.title-productList {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0.25rem auto;
}

.grid-producList {
  display: flex;
  align-items: center;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1.25rem 1.25rem;
  padding: 30px;
  outline: #7cc6b0 0.15rem solid;

  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.productItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  height: 3.5rem;
  padding: 0.5rem;
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px 2px rgba(98, 144, 154, 1);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(98, 144, 154, 1);
  -moz-box-shadow: 2px 2px 5px 2px rgba(98, 144, 154, 1);
}
.productItem-name {
  color: #62909a;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s ease;
}
.productItem:hover {
  background-color: #7cc6b0;
  outline: #62909a 2px solid;
}

.productItem:hover,
.productItem:hover .productItem-name {
  color: whitesmoke;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease;
}
.buttons-admin {
  position: absolute;
  top: 5px;
  right: 5px;
  align-items: center;

  transform: 0.5s;
}

.buttons-admin .btn-edit {
position: relative;
  list-style: none;
  width: 1.25rem;
  height: 1.25rem;
}
ul > li.btn-edit-container > a > i {
  position: absolute;
  top:-0.45rem;
  left:-0.7rem;
  background: transparent;
  color: white;
  font-size: 14px;
}
.buttons-admin .btn-edit-container {
  list-style: none;
  width: 1.25rem;
  height: 1.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #39b54a;
  color: white;
}
.buttons-admin .btn-edit-container:hover,
.buttons-admin .btn-edit:hover {
  background-color: #30e100ed;
  color: whitesmoke;
}
.buttons-admin .btn-delete-container {
  position: absolute;
  list-style: none;
  text-align: center;
}

ul > li.btn-delete-container > form > button > i {
  top:-0.45rem;
  left:-0.7rem;
  background: transparent;
  color: whitesmoke;
  font-size: 14px;
}

.buttons-admin .btn-delete {
  position: relative;
  list-style: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #de2700;
  color: whitesmoke;
}
.buttons-admin button:hover {
  background-color: red;
  color: whitesmoke;
}


#root > div > div.dash-overview-container > div.box-2 > div.box-productList > div > a.btn-create {
  color:whitesmoke;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 60px;
  line-height: 35px;
  width: 48px;
  height: 48px;
  background-color: #39b54a;
  border-radius: 1.5rem;
  text-align: center;
  font-weight: bold;
}
#root > div > div.dash-overview-container > div.box-2 > div.box-productList > div > a.btn-create:hover {
  background-color: #30e100ed;
  color: whitesmoke;
  transition: 0.5s ease;
}











@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
  --font-style: 'Nunito Sans', sans-serif;
}

body {
  font-family: var(--font-style);
}

html {
  overflow-x: hidden;
}

.box-like {
  position: absolute;
  top: 110%;
  left: 110%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #B1B2CF;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #7cc6b0;
  padding: 5px;
  box-shadow: 0px 0px 15px #00dcff
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #62909a;
  border-radius: 25px;
  transition: all 1s;
}

h1 {
  color: whitesmoke;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  width: 100%;
  margin: auto;
  transition: all 1s;
  opacity: 0;
}

i {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  color: #7cc6b0;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.btn:hover i {
  transform: rotate(360deg);
}

.btn:hover {
  width: 230px;
  height: 90px;
  cursor: pointer;
}

.btn:hover h1 {
  animation: 2s display forwards;
}

@keyframes display {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}