.prd-dash-overview {
  display: flex;
  position: relative;
  height: 90vh;

  /*   grid-template-columns: auto auto auto;
  gap: 20px 20px; */
}

.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw auto;
  height: 95vh;
}

.box-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 50%;

  /*   bottom: 5vh;
  right: 10vh; */
}
