<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="../public/css/register.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../public/css/register-tablet.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="../public/css/register-desktop.css"
  />
  <body>
    <div class="container">
      <%- include ('../partials/header') %>
      <main>
        <div class="banner">
          <img src="public/images/banner.jpg" />
        </div>
        <form action="/register/user?_method=PUT" method="POST">
          <div class="firstName">
            <label for="user">Nombre:</label>
            <input class="input-fields" type="text" name="first_name" />
          </div>
          <div class="lastName">
            <label for="user">Apellido:</label>
            <input class="input-fields" type="text" name="last_name" />
          </div>
          <div class="user">
            <label for="user">Nombre de usuario:</label>
            <input class="input-fields" type="text" name="user_name" />
          </div>
          <div class="passwords">
            <label for="password">Ingresar contraseña:</label>
            <input
              class="input-fields"
              type="password"
              name="passwd"
              value=""
            />
          </div>
          <!--           <div class="passwords">
            <label for="password">Confirmar contraseña:</label>
            <input type="password" name="passwd2" value="" />
          </div> -->
          <div class="buttons">
            <button type="submit" value="enviar">Registrarme</button>
            <button class="nav-reset" type="reset" value="reset">Reset</button>
            <div class="show-btn-back">
              <a class="nav-back" href="home">Volver</a>
            </div>
          </div>
        </form>
      </main>
    </div>
    <%- include ('../partials/footer') %>
  </body>
</html>
