@media only screen and (min-width: 1200px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }

  .msg-error {
    flex-basis: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: hsl(4, 72%, 50%);
    color: rgb(252, 252, 252);
  }

  body {
    background-color: #87a6ab;
    min-height: 91vh;
    margin-top: 95px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .avatar {
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    border: solid 5px whitesmoke;
    margin: 150px 150px;
  }

  .input-fields {
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
  }

  .image-fields-container {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    padding: 12px 15px;
  }
  .image-upload {
    font-weight: bold;
    text-decoration: underline;
  }

  label[for='id'],
  label[for='user'],
  label[for='email'],
  label[for='image'],
  label[for='password'],
  label[for='firstName'],
  label[for='lastName'] {
    text-align: left;
    font-size: 16px;
    top: 26px;
    left: 5px;
    padding-bottom: 10px;
    color: white;
  }
  .id,
  .user,
  .email,
  .passwords,
  .firstName,
  .lastName {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px 15px;
  }

  label {
    padding-left: 10px;
  }

  .nav-back,
  .submit,
  .btn-close {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: #7cc6b0;
    color: white;
  }
}
