@media only screen and (min-width: 361px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }

  body {
    background-color: #87a6ab;
    min-height: 91vh;
    margin-top: 95px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .copyright,
  .footer,
  .footer-phone {
    background-color: #62909a;
  }

  .fa-brands,
  .copyright,
  .footer-desc,
  .footer-links,
  h3 {
    color: whitesmoke;
  }
  .half-1-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .half-2-footer {
    display: flex;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid whitesmoke;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-desc {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }

  h3 {
    font-size: 25px;
    font-family: 'Lucida Sans';
    font-style: italic;
  }

  h4 {
    text-align: center;
    margin: 5px;
    padding: 5px 5px;
  }
  .copyright {
    padding: 10px 10px;
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
  .fa-brands {
    font-size: 22px;
    padding: 5px 15px;
  }
}
