@media only screen and (min-width: 361px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 2;
    border-bottom: 2px solid whitesmoke;
    background-color: #62909a;
  }

  .banner {
    width: 90%;
    height: 75px;
    background-color: whitesmoke;
    margin: auto;
  }

  .banner img {
    width: 100%;
    height: 75px;
  }

  .logo {
    display: flex;
  }

  .logo-text {
    font-size: 50px;
    font-family: 'Lucida Sans';
    font-style: italic;
    color: whitesmoke;
  }

  .nav-site {
    display: none;
    justify-content: space-evenly;
    width: 15%;
  }

  .nav-site a,
  .nav-user-style a {
    padding: 10px 25px;
    display: block;
  }

  .nav-button {
  }

  .nav-search {
    display: flex;
    padding: 15px 15px;
    width: 25%;
  }

  .search-bar {
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 40px;
    width: 275px;
    font-size: 18px;
    padding-left: 10px;
  }

  .search-bar-submit {
    border: none;
    background-color: white;
    position: relative;
    top: 0px;
    right: 35px;
    font-size: 16px;
  }
  .nav-user-style {
    display: flex;
  }
  .nav-user {
    display: none;
    width: 25%;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #7cc6b0;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    margin: 20px;
  }
  a:link {
    color: whitesmoke;
    text-decoration: none;
  }

  a:visited {
    color: whitesmoke;
  }

  a:hover {
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
  }
}
