@media only screen and (min-width: 900px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    padding-bottom: 5px;
    border-bottom: 3px solid whitesmoke;
    background-color: #62909a;
    
  }

  .logo {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    width: 20vw;
    flex-shrink: 1;
  }

  .logo-image {
    height: 80px;
    padding: 10px 10px;
  }

  .logo-text {
    display: flex;
    align-items: baseline;
    font-size: 35px;
    font-family: 'Lucida Sans';
    font-style: italic;
    color: whitesmoke;
    overflow-wrap:normal;
    width: 100%;
  }

  .nav-site-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .nav-button {
    display: flex;
    text-align: center;
    overflow-wrap: break-word;
  }

  .nav-user-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .nav-user {
    display: flex;
    text-align: center;
    overflow-wrap:break-word;
    flex-shrink: 1;
  }

  .nav-menu {
    display: none;
  }

  .profile-name {
    font-weight: bold;
  }

  .nav-site-container a,
  .nav-user-container a {
    margin: 5px 10px;
    padding: 3px 15px;
    display: block;
    border: 2.5px solid whitesmoke;
    border-radius: 15px;
  }

  .nav-search {
    display: flex;
    padding: 15px 15px;
    width: 20vw;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .search-form {
    display: flex;
    width: 100%;
    position: absolute;
  }

  .search-bar {
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 35px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
  }

  .search-bar-submit {
    display: flex;
    border: none;
    background-color: white;
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    font-size: 16px;
  }



  a:link {
    color: whitesmoke;
    text-decoration: none;
  }

  a:visited {
    color: whitesmoke;
  }

  a:hover {
    background-color: whitesmoke;
    color: #62909a;
    cursor: pointer;
    font-weight: bold;
  }
}
