@media only screen and (min-width: 1200px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }
  .msg-error {
    flex-basis: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: hsl(4, 72%, 50%);
    color: rgb(252, 252, 252);
  }

  .submit {
    display: flex;
    align-items: center;
  }

  body {
    background-color: #87a6ab;
    min-height: 91vh;
    margin-top: 95px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .input-fields {
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
  }

  label[for='user'],
  label[for='password'] {
    text-align: left;
    font-size: 16px;
    top: 26px;
    left: 5px;
    padding-bottom: 10px;
    color: white;
  }

  .user,
  .passwords {
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px 15px;
  }

  label {
    padding-left: 10px;
  }
}
