@media only screen and (min-width: 361px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Calibri';
  }

  body {
    background-color: #87a6ab;
    min-height: 91vh;
    margin-top: 95px;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  form {
    position: relative;
    left: 0px;
    width: 40vw;
  }

  .fields {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .name,.descShort,.descLarge,.price,.discount,.stock,.image-fields-container{
    display: flex;
    flex-direction: column;
  }

  label {
    text-align: left;
    font-size: 48px;
    top: 26px;
    left: 5px;
    padding: 25px 25px;
    color: white;
    border-radius: 0.25rem;
    border: none;
  }

  .input-field {
    text-align: left;
    font-size: 48px;
    height: 75px;
    top: 26px;
    left: 5px;
    padding: 5px 5px;
    color: black;
    border-radius: 0.25rem;
    border: none;
  }

  .image-fields-container {
    display: flex;
  }
  .image-upload {
    font-weight: bold;
    text-decoration: underline;
  }

  .submit {
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: #7cc6b0;
    color: white;
  }
}
