<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="../public/css/cart.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/cart-tablet.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/cart-desktop.css"/>
  <link rel="stylesheet" type="text/css" href="../public/css/home.css" />
  <body>
    <div id="container">
      <%- include ('../partials/header') %>
      <main class="mainCart">
        
        <section class="banner">
          <img src="public/images/Banner.jpg" />
          
        </section>

        <div class="half-2">
          
          <section class="section-prd"> 
           
            <%- include ('../partials/productList') %> 
            <div class="buttons">
              Eliminar
              Agregar
              cantidad

            </div>
          

          </div>
        </section>
            </main>
        </div>
        <%- include ('../partials/footer') %>
      </body>
    </html>
    