<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="../public/css/cart.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/cart-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../public/css/cart-desktop.css"
  />
  <body>
    <div id="container">
      <%- include ('../partials/header') %>
      <main class="mainCart">
        <section class="banner">
          <img src="public/images/Banner.jpg" />
        </section>

        <div class="half-2">
          
            <a
              class="btn-delete"
              href="/producto/<%= productList[i].id%>/eliminar"
              >ELIMINAR</a
            >
          </form>
          

          </div>
            </main>
        </div>
        <%- include ('../partials/footer') %>
      </body>
    </html>
    