<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="../public/css/cart.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/cart-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../public/css/cart-desktop.css"
  />
  <body>
    <div id="container">
      <%- include ('../partials/header') %>
      <main class="mainCart">
        <section class="banner">
          <img src="public/images/Banner.jpg" />
        </section>

        <h4>Todavia no seleccionaste ningun producto! Entra al home para seleccionar! 
          Esperamos su compra!!!
        </h4>

            </main>
        </div>
        <%- include ('../partials/footer') %>
      </body>
    </html>
    