<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="../public/css/cart.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/cart-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../public/css/cart-desktop.css"
  />
  <body>
    <div id="container">
      <%- include ('../partials/header') %>
      <main class="mainCart">
        <section class="banner">
          <img src="public/images/Banner.jpg" />
        </section>

        <h2 class="tituloCart">
          <i class="fa-solid fa-basket-shopping"></i> Tus Compras
        </h2>

        <div class="cart">
          <section class="firstSectionCart">
            <article>
              <img
                class="imagenesCart"
                src="../public/images/PRD-Carruaje.jpg"
              />
              <div class="contenidoProduct">
                <h4 class="tituloProducto">Carruaje Navideño</h4>
                <p class="breveDescripcion">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci ut modi nam porro
                </p>
                <div class="padreDiv">
                  <section class="precioArtCart">$Precio</section>
                  <section class="botonera">
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-trash"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-plus"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-minus"></i></button
                    ></a>
                    <p class="ctdCart">1</p>
                  </section>
                </div>
              </div>
            </article>
            <article>
              <img
                class="imagenesCart"
                src="../public/images/PRD-CanastoFlor.webp"
              />
              <div class="contenidoProduct">
                <h4 class="tituloProducto">Canasto Flores Azules</h4>
                <p class="breveDescripcion">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci ut modi nam porro
                </p>
                <div class="padreDiv">
                  <section class="precioArtCart">$Precio</section>
                  <section class="botonera">
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-trash"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-plus"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-minus"></i></button
                    ></a>
                    <p class="ctdCart">1</p>
                  </section>
                </div>
              </div>
            </article>
            <article>
              <img
                class="imagenesCart"
                src="../public/images/PRD-AlzadaFlor.png"
              />
              <div class="contenidoProduct">
                <h4 class="tituloProducto">Alzada Flor</h4>
                <p class="breveDescripcion">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci ut modi nam porro
                </p>
                <div class="padreDiv">
                  <section class="precioArtCart">$Precio</section>
                  <section class="botonera">
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-trash"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-plus"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-minus"></i></button
                    ></a>
                    <p class="ctdCart">1</p>
                  </section>
                </div>
              </div>
            </article>
            <article>
              <img
                class="imagenesCart"
                src="../public/images/PRD-FruteraTallada.webp"
              />
              <div class="contenidoProduct">
                <h4 class="tituloProducto">Frutera</h4>
                <p class="breveDescripcion">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci ut modi nam porro
                </p>
                <div class="padreDiv">
                  <section class="precioArtCart">$Precio</section>
                  <section class="botonera">
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-trash"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-plus"></i></button
                    ></a>
                    <a href="/"
                      ><button class="btnsCart">
                        <i class="fa-solid fa-minus"></i></button
                    ></a>
                    <p class="ctdCart">1</p>
                  </section>
                </div>
              </div>
            </article>
          </section>

          <section class="secondSectionCart">
            <article>
              <h4>
                <i class="fa-solid fa-file-invoice-dollar"></i> Detalle de
                Compra
              </h4>
              <div class="detalleCompra">
                <div class="detalleColumna1">
                  <p>CTD Items</p>
                  <p>SubTotal</p>
                  <p>Descuento</p>
                  <p>Envío</p>

                  <h3>Total</h3>
                </div>
                <div class="detalleColumna2">
                  <p>4</p>
                  <p>$ Subtotal</p>
                  <p>10%</p>
                  <p>$ Envío</p>

                  <h3>$ Total compra</h3>
                </div>
              </div>
            </article>
            <article class="botonesFinales">
              <a href="/"><button class="btnCancel">Cancelar Compra</button></a>
              <a href="/"
                ><button class="btnFinish">Finalizar Compra</button></a
              >
            </article>
          </section>
        </div>
      </main>
    </div>
    <%- include ('../partials/footer') %>
  </body>
</html>
