<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/public/css/productEdit.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/css/productEdit-tablet.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/css/productEdit-desktop.css"
  />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div class="banner">
        <img src="/../public/images/banner.jpg" />
      </div>
      <div class="container">
        <form
          class="fields"
          method="POST"
          action="/producto/crear"
          enctype="multipart/form-data"
        >
          <label for="">ID: </label>
          <input
            class="input-fields"
            type="number"
            name="id"
            value="<%= productList.length %>"
            readonly="readonly"
          />
          <label for="">Nombre:</label>
          <input class="input-fields" type="text" name="name" value="" />
          <label for="">Descripcion corta:</label>
          <input class="input-fields" type="text" name="descs" value="" />
          <label for="">Descripcion larga:</label>
          <input class="input-fields" type="text" name="descl" value="" />
          <label for="">Precio:</label>
          <input class="input-fields" type="number" name="price" value="" />
          <label for="">Descuento:</label>
          <input class="input-fields" type="number" name="disc" value="" />
          <div class="image-fields-container">
            <label for="image">Foto del producto:</label>
            <input class="image-upload" type="file" name="image" />
          </div>
          <input class="submit" type="submit" value="Crear producto" />
        </form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
