<footer class="footer">
  <div class="half-1-footer">
  <h3>HandiCraft</h3>
    <div class="footer-desc">
      <h4>
        Es un emprendimiento que pone al alcance de un click la compra de
        productos en los que interviene el diseño de articulos en vidrio,
        con los mejores estándares de especificación y calidad.
      </h4>
    </div>
    <section class="footer-links">
      <p>Seguinos por:</p>
      <div>
        <!--  <a href="sitemap.html">Sitemap</a> -->
        <i class="fa-brands fa-facebook"></i>
      </div>
      <div>
        <!-- <a href="giftcards.html">Gift Cards</a> -->
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div>
        <!--  <a href="/blog.html">Blog</a> -->
        <i class="fa-brands fa-twitter"></i>
      </div>
    </section>
  </div>
</div>
  <div class="half-2-footer">
    <div class="copyright">
      <p>
        Copyright © 2000-2022 HandiCraft S.R.L. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>