<header>
  <div class="head">
    <div class="logo">
      <!-- <img src="public/images/logo.svg" /> -->
      <h3 class="logo-text">HandiCraft</h3>
    </div>
    <nav class="nav-site">
      <a class="nav-button" href="/">Home</a>
      <a class="nav-button" href="/enConstruccion">Colecciones</a>
      <a class="nav-button" href="/enConstruccion">Noticias</a>
    </nav>
    <div class="nav-search">
      <form action="/buscar" method="GET">
        <input
          class="search-bar"
          type="text"
          name="buscar"
          placeholder="Buscar productos, marcas..."
        />
        <input class="search-bar-submit" type="submit" value="&#128269" />
      </form>
     <!--  <i class="fa-solid fa-magnifying-glass"></i> -->
    </div>
    <div class="nav-user-style">
      <nav class="nav-user">
        <% if(!userLoggedIn.user_name){ %>
        <div>
          <a href="/register">Registrarme</a>
        </div>
        <div>
          <a href="/login">Cuenta</a>
        </div>

        <% } else{ %>

        <div>
          <a class="profile-name" href="/login/user"><%= userLoggedIn.user_name %></a>
        </div>

        <% } %>

        <div>
          <a href="/cart">Carrito</a>
        </div>
      </nav>
      <nav class="nav-menu">
        <i class="fas fa-bars"></i>
      </nav>
    </div>
  </div>
</header>
