<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/acerca.css" />
  <link rel="stylesheet" type="text/css" href="/css/acerca-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/acerca-desktop.css" />
  <body>
   
      <%- include ('./partials/header') %>
      <main>
        <div class="container">
        <div class="desc-acerca">
          <h4>
            HandiCraft es un emprendimiento que pone al alcance de un click la
            compra de productos en los que interviene el diseño de articulos en
            vidrio, con los mejores estándares de especificación y calidad.
          </h4>
        </div>
        <div class="video">
          <p>VIDEO</p>
        </div>
      </main>
    </div>
    <%- include ('./partials/footer') %>
  </body>
</html>
