<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/acerca.css" />
  <body>
    <%- include ('./partials/header') %>
    <main>
      <div class="container">
        <div class="logo-acerca">
          <img class="logo-image-acerca" src="/logo/hc-acerca.png" />
        </div>
        <div class="desc-acerca">
          <h4>
            es un emprendimiento que pone al alcance de un click la compra de
            productos en los que interviene el diseño de articulos en vidrio,
            con los mejores estándares de especificación y calidad.
          </h4>
        </div>
        <div class="youtube">
          <iframe
            class="video"
            width="560"
            height="300"
            src="https://www.youtube.com/embed/YArpAOlWS4A?controls=0&amp;start=10&amp;autoplay=1&amp;mute=1&amp;loop=1&playlist=YArpAOlWS4A&amp;disablekb=1&amp;modestbranding=1&amp;rel
=1&amp;showinfo=0&amp;"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="button">
            <a
              class="creditos"
              href="https://www.youtube.com/watch?v=YArpAOlWS4A&list=TLGG8-Afg8RION0wNDEwMjAyMg"
              >Creditos</a
            >
          </div>
        </div>
      </div>
    </main>
    <%- include ('./partials/footer') %>
  </body>
</html>
