<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <link rel="stylesheet" type="text/css" href="public/css/home.css" />
  <link rel="stylesheet" type="text/css" href="public/css/home-tablet.css" />
  <link rel="stylesheet" type="text/css" href="public/css/home-desktop.css" />
  <body>
    <div id="container">
      <%- include ('./partials/header') %>
      <main>
        <div class="banner">
          <img src="public/images/banner.jpg" />
        </div>
        <section class="section-prd">
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img class="preview" src="public/images/PRD-AlzadaFlor.png"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$12000</p>
                <p class="disc"></p>
              </div>
              <div class="prd-name">
                <p>Alzada con pie en forma de flor.</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img class="preview" src="public/images/PRD-CanastoFlor.webp"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$9.000</p>
                <p class="disc">15% off</p>
              </div>
              <div class="prd-name">
                <p>Canasto de flores tallado en vidrio.</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img class="preview" src="public/images/PRD-Carruaje.jpg"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$15.000</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>
                  Figura de cristal hecha a mano en forma de carruaje navideño.
                </p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img class="preview" src="public/images/PRD-Pajaros.jpg"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$15.000</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>Figura de cristal hecha a mano en forma de pajaros.</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img class="preview" src="public/images/PRD-PlatosHondos.jpg"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$5.550</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>Platos hondos tallados x 6 unidades.</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img class="preview" src="public/images/PRD-PlatosPlayos.webp"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$5.550</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>Platos playos tallados x 6 unidades.</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img
                  class="preview"
                  src="public/images/PRD-TorteraTallada.webp"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$3.000</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>Tortera tallada.</p>
              </div>
            </div>
          </article>
          <article class="producto">
            <div class="image">
              <a href="producto"
                ><img
                  class="preview"
                  src="public/images/PRD-FruteraTallada.webp"
              /></a>
            </div>
            <div class="description">
              <div class="price">
                <p>$3.500</p>
                <p class="disc">10% off</p>
              </div>
              <div class="prd-name">
                <p>Frutera tallada.</p>
              </div>
            </div>
          </article>
        </section>
      </main>
      <%- include ('./partials/footer') %>
    </div>
  </body>
</html>
