<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/register.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/register-tablet.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/register-desktop.css"
  />
  <%- include ('../partials/header') %>
  <body>  
      <main>
        <div class="container"></div>
        <div class="banner">
          <img src="/images/banner.jpg" />
        </div>
        <form
          class="fields"
          method="POST"
          action="/registerUser"
          enctype="multipart/form-data"
        >
          <div class="firstName">
            <label for="user">Nombre:</label>
            <input class="input-fields" type="text" name="first_name" value="" />
          </div>
          <div class="lastName">
            <label for="user">Apellido:</label>
            <input class="input-fields" type="text" name="last_name" value="" />
          </div>
          <div class="user">
            <label for="user">Nombre de usuario:</label>
            <input class="input-fields" type="text" name="user_name" value="" />
          </div>
          <div class="email">
            <label for="user">Correo electronico:</label>
            <input class="input-fields" type="email" name="email" value="" />
          </div>
          <div class="passwords">
            <label for="password">Ingresar contraseña:</label>
            <input
              class="input-fields"
              type="password"
              name="passwd"
              value=""
            />
          </div>
          <!--           <div class="passwords">
            <label for="password">Confirmar contraseña:</label>
            <input type="password" name="passwd2" value="" />
          </div> -->
          <div class="image-fields-container">
            <label for="image">Foto de perfil:</label>
            <input class="image-upload" type="file" name="avatar" />
          </div>
          <div class="buttons">
            <!-- <button type="submit" value="enviar">Registrarme</button> -->
            <input class="submit" type="submit" value="Registrarme" />
            <button class="nav-reset" type="reset" value="reset">Reset</button>
            <div class="show-btn-back">
              <a class="nav-back" href="home">Volver</a>
            </div>
          </div>
        </form>
      </main>
    </div>
    <%- include ('../partials/footer') %>
  </body>
</html>
